body {
  background-image: url("../img/backgroundImage.png");
  background-attachment: fixed;
  background-size: 100%;
}

.textBlock {
  width: 100%; height: 100%;
  background: white;
  outline: 2px solid #000000;
  overflow-y: auto;
}

.textBlock h1 {
  font-size: 24pt;
  line-height: 31pt;
  padding-top: 70px;
  text-align: center;
}

.textBlock .textSpace {
  width: auto;
  margin-left: 13%;
  margin-right: 13%;
  text-align: justify;
}

.textBlock .textSpace p {
  margin-top: 18pt;
  text-indent: 30px;
  font-size: 14pt;
}

.textBlock .img-container {
  position: relative;
  max-width: 80%; /* Maximum width */
  margin: 0 auto; /* Center it */
  cursor: pointer;
}

.textBlock .img-container .img-content-bottom {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.3 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  cursor: auto;
}
